<div class="section-activity-wrapper">
    <section class="section-activity activity" id="activity">
        <div class="full-width">
            <div class="section-activity-heading" id="contest-activity-text">Activity</div>
            
                <div class="activity-technologies">

                    <a id="contest" class="semi-transparent-button with-border white-button" onclick="selected('contest')">Contest</a>
                    <a id="school life" class="semi-transparent-button with-border white-button" onclick="selected('school life')">School life</a>
                    <a id="hackathon" class="semi-transparent-button with-border white-button" onclick="selected('hackathon')">Hackathon</a>

                </div>

            <div class="activity-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>