<div class="section-wrapper">
    <section class="section activity" id="activity">
        <div class="full-width">
            <div class="section-heading" id="featured-activity-text">Activity</div>
            
                <div class="activity-technologies">

                    <a id="android" class="semi-transparent-button with-border white-button" onclick="selected('android')">Android</a>
                    <a id="2" class="semi-transparent-button with-border white-button" onclick="selected('2')">2</a>
                    <a id="3" class="semi-transparent-button with-border white-button" onclick="selected('3')">3</a>
                    <a id="4" class="semi-transparent-button with-border white-button" onclick="selected('4')">4</a>
                    <a id="5" class="semi-transparent-button with-border white-button" onclick="selected('5')">5</a>
                    
                </div>

            <div class="activity-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>