<div class="section-a-wrapper">
    <section class="section-a activity" id="activity">
        <div class="full-width">
            <div class="section-a-heading" id="featured-activity-text">Activity</div>
            
                <div class="activity-a-technologies">

                    <a id="1" class="semi-transparent-button with-border white-button" onclick="selected('1')">1</a>
                    <a id="2" class="semi-transparent-button with-border white-button" onclick="selected('2')">2</a>
                    <a id="3" class="semi-transparent-button with-border white-button" onclick="selected('3')">3</a>
                    <a id="4" class="semi-transparent-button with-border white-button" onclick="selected('4')">4</a>
                    <a id="5" class="semi-transparent-button with-border white-button" onclick="selected('5')">5</a>
                    <a id="6" class="semi-transparent-button with-border white-button" onclick="selected('6')">6</a>

                </div>

            <div class="activity-a-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>