<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading">Contact</div>
            <p class="paragraph-text justify-text">
                <strong>Name:</strong> 이재희
            </p>
            <p class="paragraph-text justify-text">
                <strong>Year:</strong> 2000.09.20
            </p>
            <p class="paragraph-text justify-text">
                <strong>Phone:</strong> 010-3951-1401
            </p>
            <p class="paragraph-text justify-text">
                <strong>Education:</strong> 목원대학교 4학년 재학중
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:abhishek@nagekar.com"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/EJ-pro"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Instagram">
                    <a href="https://www.instagram.com/ej__pro?igsh=ZXA4bGgybGE2bm04"><i
                            class="head-icon fab fa-instagram"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Discord">
                    <a href="https://discord.com/users/1079308466922983496"><i
                            class="head-icon fab fa-discord"></i></a>
                </span>
            </div>
        </div>
    </section>
</div>