<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name">이재희</div>
        <div class="head-name head-title animated" id="head-name" style="font-size: 25px;">(Jaehee-Lee)</div>
        <div class="head-punchline animated">Android Developer</div>
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#about">About</a>
            <a class="semi-transparent-button with-border nav-links" href="#skills">Skills</a>
            <a class="semi-transparent-button with-border nav-links" href="#projects">Project & Activity</a>
            <a class="semi-transparent-button with-border nav-links" href="#blog-posts">Awards</a>
        </div>
    </div>
</section>
