
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        트렌드를 항상 추적하며<br>지속적으로 성장하는<br>Android Developer<br>사용자 경험을 최우선에 두는<br>전문가 독특하고 차별화된<br>서비스를
                        제공하는 혁신적인<br>개발자
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">기술 스택</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="90%">

                            <div class="skillbar-title" style="background: #944E63;"><span>Java</span></div>
                            <div class="skillbar-bar" style="background: #CAA6A6;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #944E63;"><span>Kotlin</span></div>
                            <div class="skillbar-bar" style="background: #B47B84;"></div>
                        </div> <!-- End Skill Bar -->


                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #944E63"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #CAA6A6;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #944E63;"><span>JavaScript</span></div>
                            <div class="skillbar-bar" style="background: #B47B84;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #944E63;"><span>CSS3</span></div>
                            <div class="skillbar-bar" style="background: #CAA6A6;"></div>
                        </div> <!-- End Skill Bar -->


                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #944E63"><span>firebase</span></div>
                            <div class="skillbar-bar" style="background: #B47B84"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Collaboration</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        명확한 의사소통과 문제 해결<br>능력을 통해 팀의 성공을 이끌며,<br>긍정적인 팀 문화를 조성합니다.<br>Git, figma, Slack 협업 도구를<br>능숙하게 사용하여 효율적인<br> 업무 환경을 유지하며, <br>변화에 유연하게 할수있는 역량을 가졌습니다.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">협업 플랫폼</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="100%">

                            <div class="skillbar-title" style="background: #86469C;"><span>Github</span></div>
                            <div class="skillbar-bar" style="background: #FB9AD1;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #86469C;"><span>Notion</span></div>
                            <div class="skillbar-bar" style="background: #BC7FCD;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #86469C;"><span>Figma</span></div>
                            <div class="skillbar-bar" style="background: #FB9AD1"></div>
                        </div> <!-- End Skill Bar -->


                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #86469C;"><span>Slack</span></div>
                            <div class="skillbar-bar" style="background: #BC7FCD;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>