<!DOCTYPE html>
<html lang="ko">

<div class="sidebar">
    <a class="semi-transparent-button nav-links" href="#about">About</a>
    <hr width = "100%" color = "#fff" size = "1"   style="margin-top:0px;margin-bottom:0px;">
    <a class="semi-transparent-button nav-links" href="#skills">Skills</a>
    <hr width = "100%" color = "#fff" size = "1"   style="margin-top:0px;margin-bottom:0px;">
    <a class="semi-transparent-button nav-links" href="#projects" style="font-size:12px">Project & Activity</a>
    <hr width = "100%" color = "#fff" size = "1"   style="margin-top:0px;margin-bottom:0px;">
    <a class="semi-transparent-button nav-links" href="#blog-posts">Awards</a>
</div>

{% include head.html %}

<body>

    {% include nav.html %}
    
    {% include background.html %}
    
    {% include about.html %}

    {% include skills.html %}

    {% include projects.html %}

    {% include blogs.html %}

    {% include extra.html %}

    {% include footer.html %}

    <button id="toTopBtn" title="Go to top">Top</button>

    {% include scripts.html %}
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const links = document.querySelectorAll('.nav-links');

        for (const link of links) {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);

                window.scrollTo({
                    top: targetElement.offsetTop,
                    behavior: 'smooth'
                });
            });
        }
    });
</script>

</html>